{% include '../partials/head.twig' %}
<h1>List of Artists</h1>
<ul>
  {% for a in artists %}
  <li>
    {{ a.name }} –
    <a href="{{ a.link }}"> Listen to {{ a.name }} on Spotify</a>
  </li>
  {% endfor %}
</ul>
{% include '../partials/close.twig' %}
