<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <meta content="width=device-width, initial-scale=1.0" name="viewport"/>
        <meta content="ie=edge" http-equiv="X-UA-Compatible"/>
        <link href="/stylesheets/style.css" rel="stylesheet"/>
        <title>To-Dos</title>
    </head>

    <body>
        <h1>Edit Todo</h1>
        <form action="/todos/<%= idx %>?_method=PUT" autocomplete="off" method="POST">
            <input name="todo" type="text" value="<%= todo.todo %>">
            <label>
                <input type="checkbox" name="done" <%= todo.done ? 'checked' : '' %>>
                Done
            </label>
            <button type="submit">Update Todo</button>
        </form>
    </body>
</html>
