<% include ./partials/head %>
<main>
    <h1 class="text-center"><%= title %></h1>
    <h3 class="text-center">
        Check out my
        <a href="/skills"><%= subtitle %></a>
    </h3>
</main>
<% include ./partials/close %>
