<ul class="nav nav-pills">
  <li class="nav-item">
    <a class="nav-link" href="/">Home</a>
  </li>
  <li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Skills</a>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="/skills/0">HTML</a>
      <a class="dropdown-item" href="/skills/1">CSS</a>
      <a class="dropdown-item" href="/skills/2">SASS</a>
      <a class="dropdown-item" href="/skills/3">Craft CMS</a>
      <a class="dropdown-item" href="/skills/4">JavaScript</a>
      <a class="dropdown-item" href="/skills/5">Node.js</a>
      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/skills">All Skills</a>
    </div>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://www.linkedin.com/in/gideonibemerejr" target="_blank">
        <i class="fab fa-linkedin"></i>
    </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="https://www.instagram.com/gideonibemerejr" target="_blank">
        <i class="fab fa-instagram"></i>
    </a>
  </li>
</ul>