body {
  padding: 50px;
}

.navbar-light,
.bg-light {
  background-color: transparent !important;
}
.form-group button {
  margin-top: 2rem;
}
.flights-form {
  max-width: 30vw;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 4rem;
}
