body {
  padding: 50px;
}
main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table {
  max-width: 50vmax;
  margin: 4rem auto 0 ;
}
.navbar {
  padding: 0.5rem 0;
}

.navbar-light,
.bg-light {
  background-color: transparent !important;
}
.form-group button {
  margin-top: 2rem;
}
.flights-form {
  max-width: 30vw;
  display: flex;
  flex-direction: column;
  margin: 4rem auto;
}
