{% include '../partials/head.twig' %}
<h1>{{ artist.name }}
    {{todoNum}}</h1>
<p>Listen to
    {{ artist.name }}
    <a href="{{ artist.link }}">Spotify</a>.</p>
{% include '../partials/close.twig' %}
